body {
    padding: 0px;
    margin: 0px;
}

header {
    background-image: url(../img/header.png);
    width: 100%;
    height: 700px;
    background-size: cover;
}

img {
 max-width: 100%;
 height: auto;
}

nav {
    width: 100%;
    height: 50px;
    background: #336ee6;
    border-radius: 0px;
    background-size: cover;
}
    
    
#header-div {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: calibri;
}
.menu {
    margin: 0px;
}
    
.menu li {
    width: 150px;
    float: left;
    position: relative;
    left: 250px;
    list-style-type:none;
}
.menu li ul {
    display: none;
    position: absolute;
    top: 19px;
}
    
.menu li > ul {
    top:auto;
    left:auto;
}

.menu li a {
    color: #e1e1e1;
    font-family: calibri;
    display: block;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    margin: 0;
    text-decoration:none;
}
    
.menu li a:hover {
    background: #1b3e5c;
    color: #2fd7ed;
}

.clear {
    clear: both;
}

#service-images {
    height: 24em;
    background-color: #324651;
}

#service-images img {
    border: 2px solid #ffe500;
    padding: 0px;
    margin-right: 40px;
    margin-bottom: 10px;
}

h2 {
   text-align: center;
   color: #ffe500;
   font-family: helvetica;
}

.we-make {
    background-image: url(../img/we-make-services.png);
    width: 100%;
    height: 36.125em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#about {
    width: 100%;
    height: 36.125em;
    background-color: #324651;
}

#portfolio {
    width: 100%;
    height: 36.125em;
    background-color: #324651;
}

#news {
    width: 100%;
    height: 36.125em;
    background-color: #324651;
}

.news-box {
    width: 100%;
    padding: 80px 0px;
    background-color: #ccc;
    overflow: hidden;
}

.news-box article {
    width: 16%;
    float: left;
    margin: 0px 2%;
    border: 1px solid;
}

.news-img {
    width: 100%;
    height: 120px;
    background-color: #000;
}

.news-box h4 {
    font-weight: 400;
    font-family: lato;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    color: white;
}

.news-box p {
    font-weight: 400;
    font-family: lato;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
    color: white;
}

footer {
    background-color: #324651;
}

form {
    max-width: 420px;
    margin: 50px auto;
    height: 550px;
}
.form-input {
    color: white;
    font-family: helvetica;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #ffe500;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline: 0;
}

.form-input:focus { 
    border:2px solid #1e90ff; 
}

textarea {
  height: 150px;
  line-height: 150%;
}

#send-button {
    width: 100%;
    background-color: #1e90ff;
    border-radius:5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#send-button:hover {
    background-color: #ffe500;
}